* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: orange;
}

.grid {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 500px;
    height: 500px;
}

.paint:hover{
    background-color: black;
}

.pop-up {
    padding: 20px;
    background-color: pink;
    border: 2px solid green;
}

.size {
    display: flex;
    padding: 10px 0px;
}

footer {
    background-color: orange;
}

.hidden {
    display: none;
}


